*{
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fafafa;
}


.header-bg{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: #fff;
    height: fit-content;
    border-bottom: 1px solid #dbdbdb;
}
header {
    width: 90vw;
    max-width: 934px;
    height: 54px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo-area {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center ;
}

.logo-area .md.hydrated {
    font-size: 26px;
    margin-right: 11.38px;
}

.division-bar {
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
    align-self: flex-start;
    margin-right: 10px;
}

header input {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 268px;
    height: 36px;
    background-color: #FAFAFA;
}

header input:focus{
    outline: none;

}

header input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #979797;
    text-align: center;
    font-size: 12px;
  }
  header input::-moz-placeholder { /* Firefox 19+ */
    color: #979797;
    text-align: center;
    font-size: 12px;
  }
  header input:-ms-input-placeholder { /* IE 10+ */
    color: #979797;
    text-align: center;
    font-size: 12px;
  }
  header input:-moz-placeholder { /* Firefox 18- */
    color: #979797;
    text-align: center;
    font-size: 12px;
  }

header nav {
    width: 161px;
    height: 28px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    color: #000;
}

header nav ul li .md.hydrated {
    font-size: 22px;
}

main {
    width: 100vw;
    max-width: 934px;
    margin: 54px auto 0px;

}

.stories-overflow {
    width: 100vw;
    max-width: 614px;
    height: 118px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.slide-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f8f8f8; 
    position: absolute;
    top: calc(50% - 13px);
    right: 0px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-button .arrow {
    width: 40%;
    height: 40%;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    transform: rotate(45deg);
}

.stories-full-container{
    width: 3000px;
    height: 118px;
    display: flex;
    align-items: center;
}



.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 14px;
}


.story:nth-of-type(1){
    margin-left: 18px;
}

.story-gradient {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.story-bg {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-text {
    font-size: 12px;
    padding: 4px 0px;
}



.news-feed {
    width: 100vw;
    max-width: 614px;
    margin-top: 24px;
}

.post-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    margin-bottom: 40px;
}

.post-header,
.post-interactions,
.reaction-info,
.post-description,
.time-stamp,
.comment-section, 
.comment-form {
    width: 95%;
    margin: auto;
}


.post-header {
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.user-name {
    font-weight: 500;
    margin-right: 3px;
}

.news-feed .post-container .post-header .logo-area .thumbnail{
    margin-right: 15px;
}

.options {
    display: flex;
    cursor: pointer;
    padding: 8px 6px;
}

.options-dot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #262626;
    margin-left: 2px;
}

.post-picture {
    width: 100%;
    height: 100vw;
    max-height: 612px;
    background-image: url('../media/gato-telefone\ 1cat-phone.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.post-container:nth-of-type(2) .post-picture{
    background-image: url('../media/dog\ 1.png');
}

.post-container .post-header .logo-area .thumbnail img {
    width: 32px;
    height: 32px;
}

.post-container:nth-of-type(3) .post-picture{
    background-image: url('../media/nathanwpyle.jpg');
}


.bg_video {
    height:100%;
    width: auto;
}



.post-interactions{
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px auto;
}

.post-interactions .left-side {
    width: 88.18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.post-interactions .left-side .md.hydrated,
.post-interactions .right-side .md.hydrated {
    font-size: 22px;
    cursor: pointer;

}




.reaction-info {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.reaction-info img {
    margin-right: 5px;
}

.reaction-info strong {
    text-decoration: underline;
    cursor: pointer;
}

.post-description {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.post-description .user-name {
    align-self: flex-start;
    display: inline;
}

.post-description span {
    line-height: 18px;
    font-size: 14px;
}



.post-description button {
    border: 0;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0;
    color: #8e8e8e;
    cursor: pointer;
    
}

.comment-section span{
    font-size: 14px;
    color: #8e8e8e;
    cursor: pointer;
}

.comments-area {
    margin: 8px 0px 10px;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.comments-area .comment span {
    color: #000;
    margin-right: 3px;
}

.time-stamp {
    font-size: 11px;
    letter-spacing: .2px;
    text-transform: uppercase;
    color: #8e8e8e;
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    margin-bottom: 16px;
    margin-top: 8px;
}

.write-comment-area {
    width:100%;
    border-top: 1px solid #dbdbdb
}

.comment-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    border-top: 1px solid rgb(239, 239, 239); 
}

.comment-form .md.hydrated {
    cursor: pointer;
    font-size: 24px;
}

.comment-form input {
    border: none;
    height: 26px;
    flex: 1;
    background-color: transparent;
    margin-left: 16px;
}

.comment-form input:focus{
    outline: none;

}


.comment-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #979797;
    text-align: start;
    font-size: 12px;
  }
.comment-form input::-moz-placeholder { /* Firefox 19+ */
    color: #979797;
    text-align: start;
    font-size: 12px;
  }
.comment-form input:-ms-input-placeholder { /* IE 10+ */
    color: #979797;
    text-align: start;
    font-size: 12px;
  }
.comment-form input:-moz-placeholder { /* Firefox 18- */
    color: #979797;
    text-align: start;
    font-size: 12px;
  }


.comment-form button {
    color: #B2DFFC;
    font-weight: 700;
    background-color: transparent;
    border: none;
    padding: 6px 15px;
    cursor: pointer;
}

.comment-form button:hover {
    color: #0095F6;
    transition: all ease 300;
}







.side-bar {
    width: 300px;
    position: fixed;
    top: 88px;
    right: calc(50vw - 467px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-user-area {
    width: 100%;
    height: 56px;
    margin-bottom:24px;
    display: flex;
    align-items: center;
}
.main-user-area img {
    margin-right: 17px;
}
.main-user-information {
    display: flex;
    flex-direction: column;
}
.main-user-id-name{
    font-weight: 500;
    font-size: 14px;
}
.main-user-name {
    font-weight: 300;
    font-size: 14px;
}




.recommendations-area {
    width: 90%;
}



.recommendations-header {
    height: 15px;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recommendations-header span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}
.recommendations-header div {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #262626
}




.recommended-profile {
    height: 32px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recommended-profile .img-info-group {
    display: flex;
    align-items: center;
    cursor: pointer;
} 

.recommended-profile .information {
    display: flex;
    flex-direction: column;
    margin-left: 11px;
}

.recommended-profile .id-name{
    font-weight: 500;
    font-size: 14px;
}
.recommended-profile .sub-header {
    font-weight: 300;
    font-size: 12px;
    color: #8E8E8E;
    margin-top: 6px;
}
.follow-button {
    font-weight: 500;
    font-size: 12px;
    color: #139EF2;
    cursor: pointer;
}




footer {
    width: 300px;
    position: fixed;
    top: 392px;
    right: calc(50vw - 467px);
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #C7C7C7;
    font-size: 11px;
}
footer nav {
    width: 90%;
    margin-bottom: 18px;
}
footer nav ul {
    display: flex;
    flex-wrap: wrap;
}

footer nav ul li {
    margin-right: 5px;
}
footer nav ul li a {
    text-decoration: none;
    color: #C7C7C7;
}

footer span {
    width: 90%;
    text-transform: uppercase;
}
footer span a {
    color: #C7C7C7;
}



@media (max-width:935px) {
    .side-bar, 
    footer {
        display: none;
    }

    section {
        margin: auto;
    }
}

@media (max-width: 614px) {
    .input-logo-region input {
        display: none;
    }
    .input-logo-region {
        width: 103px;
        height: 27px;
        background-image: url("../media/logo.png");
        background-size: cover;
        background-position: center;
    }

    header .logo-area .division-bar,
    header .logo-area img {
        display:none;
    }

    header nav {
        width: fit-content
    }

    header nav ul li:nth-child(2),
    header nav ul li:nth-child(3),
    header nav ul li:nth-child(4) {
        display: none;
    }

    .stories-overflow {
        background-color: transparent;
        border: none;
    }

    .slide-button {
        display: none;
    }

    .bottom-bar {
        width: 100vw;
        height: 54px;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
    }

    .bottom-bar .icon.md.hydrated {
        font-size: 20px;
        cursor: pointer;
    }

    .bottom-bar .icon.md.hydrated:last-child {
        color: #000;
    }
}

























.no-display {
    display: none;
}

.post-collapse {
    display: block;
    width: 56ch;
    height: 18px;
    overflow: hidden;
}









